main{
    background-color: #05A6A6;
    width: 80vw;
    margin-left: 10vw;
    padding: 1rem;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .about-text{
            padding: 1rem;
            .about-name, .about-link{
                font-weight: 900;
            }
        }  
       
    }
}
.about, .draw, .code{
    background-color: #FFFFFF;
    width: 30vw;
    height: 50vh;
    margin: 2vw;
    div{
        h3{
            background-color: #037F8C;
            height: 7vh;
            width: 20vw;
            color: #FFFFFF;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 1rem;
            margin: 0;
        }
    }
}
.draw-one{
    padding: 1rem;
    img{
        width: 7vw;
        height: 7vw;
    }  
    a{
    font-weight: 900;
    }
}