footer{
    color: #F2D8C2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
    background-color: #3C1D40;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        li{
            display: inline;
            justify-content: space-around;
            align-items: center;
        }
    }
    hr{
        width: 100%;
        border: #f2d8c25b 1px solid;
    }
}
footer{
    a{
        color: #F2D8C2;
        text-decoration: none;
    }
}