main{
    background-color: #05A6A6;
    width: 80vw;
    margin-left: 10vw;
    padding: 1rem;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .about-text{
            padding: 1rem;
            .about-name, .about-link{
                font-weight: 900;
            }
        }  
       
    }
}
.about, .contacts{
    background-color: #f7f6f1;
    width: 70vw;
    margin: 2rem;
    div{
        h3{
            background-color: #037F8C;
            height: 7vh;
            width: 20vw;
            color: #f7f6f1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 1rem;
            margin: 0;
        }
    }
}
.about {
    .italic{
        font-style: italic;
    }
}
.draw{
    display: flex;
    flex-direction: column;
}
.draw-me{
    padding: 1rem;
}
.draw-one{
    img{
        width: 7vw;
        height: 7vw;
    }  
    
}
a{
    font-weight: 900;
    color: black;
    text-decoration: none;
}
.contacts-text{
    p{
        span{
            font-weight: 900;
        }
    }
}
.about img{
    max-width: 50%;
    border: black 1px solid;
}
iframe{
    max-width: 100%;;
}
.about img:hover{
    max-width: 100%;
    border: black 1px solid;
    padding: 10px 10px 40px 10px;
    background-color: wheat;
    transition: 2s;
}