//Vendor
@import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Components
@import "./components/_components-dir";

//Layout
@import "./layout-index/_layout-index-dir";
@import "./layout-about/_layout-about-dir";
@import "./layout-drawing/_layout-drawing-dir";
@import "./layout-coding/_layout-coding-dir";

*{
    box-sizing: border-box;
}

:root{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #263F73;
}